<div class="container">
{{#each posts as |post|}}
    </br>
    <div class="card linkcard" role="button" id="{{post.id}}" onclick="viewPost({{post.id}})">
        <h5 class="card-header">
            {{post.title}}
        </h5>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer"><cite title="Source Title">Posted by {{post.user.user_name}} on {{format_time post.createdAt}}</cite></footer>
            </blockquote>
            <p class="card-text">{{post.description}}</p>
        </div>
    </div>
{{/each}}
</div>
<script src="./js/post.js"></script>