<div class="container">
{{#each posts as |post|}}
    </br>
    <div class="card">
        <h5 class="card-header">
            {{post.title}}
        </h5>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer"><cite title="Source Title">Posted by {{post.user.user_name}} on {{format_time post.createdAt}}</cite></footer>
            </blockquote>
            <p class="card-text">{{post.description}}</p>
        </div>
    </div>
    </br> 


        {{#each post.postcomments as |comment|}}
            <div class="card">
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer"><cite title="Source Title">{{comment.user.user_name}} on {{format_time comment.createdAt}}:</cite></footer>
                    <p class="card-text">{{comment.text}}</p>
                </blockquote>
                </div>
            </div>
        {{/each}}

    </br>

{{/each}}
</div>
{{#if loggedIn}}
    <div class="container">
        <form class="row g-3" id="new-comment-form">
            <div class="mb-3">
                <input type="text" class="form-control invisible" id="inputUserId" value={{userId}}>
                <input type="text" class="form-control invisible" id="inputPostId" value={{postId}}>
            </div>
            <div class="mb-3">
                <label for="inputCommentText" class="form-label">Comment:</label>
                <textarea class="form-control" id="inputCommentText" rows="3" placeholder="Content..."></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
        </form>
    </div>
<script src="../js/postComment.js"></script>
{{/if}}




